body{
    font-family:Arial,sans-serif;
    color:#c8c7d1;
    background-color: #141414;
    margin:0;
    padding:0;
    line-height:1.6;
}

header{
    background-color: #74be29;
    color:rgb(236, 232, 232);
    padding: 20px;
    text-align:center;
}

header h1{
    margin:0;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: underline;
}

main{
    padding:20px;
    max-width:800px;
    margin:0 auto;
}

main img{
    max-width:100%;
    height:auto;
    display:block;
    margin:20px O;
}


footer {
    background-color: #333;
    color:rgb(226, 224, 230);
    text-align:center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

p{
  font-size: 1.1em; 
}
 a{
    color:#4CAF50;
    text-decoration: none;
 }

 a:hover{
    text-decoration:underline;
 }

 img{
    border:5px solid #0f0f0f;
    border-radius: 3px;
    width: 400px;

 }

 main a[href^="mailto:"]{
    color:#ff5722;
    font-weight: bold;
 }
 .card-body{
 background-color:#0d0e0d;
 color: #4CAF50;
 border:none;
 }

